body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-change-size {
    height: 30px;
    width: 150px;

    align-self: center;
}

.grid {
    border: 10px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid-square {
    aspect-ratio: 1/1;
}
